.login-form {
  width: 500px;
  padding: 80px 50px 50px;
  margin: 150px auto;
  box-shadow: 0 0 5px 5px #ccc;
}
.login-form-title {
  font-size: 40px;
  font-weight: bold;
  color: #20e3b4;
  text-align: center;
  margin-bottom: 10px;
}
.login-form-desc {
  font-size: 24px;
  font-weight: bold;
  color: #ccc;
  text-align: center;
  margin-bottom: 40px;
}
.login-form-desc b {
  color: #000;
}
.login-form-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  margin-bottom: 20px;
}
.login-form-wrapper label {
  font-size: 18px;
  font-weight: 500;
}
.login-form-input {
  width: 100%;
}
.login-form-error {
  font-weight: 500;
  color: #de4242;
}
.login-form-option {
  font-size: 16px;
}
.login-form-button {
  width: 100%;
  background-color: #20e3b4;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  margin-top: 50px;
}
