.footer {
  width: 100%;
  height: 400px;
  background-color: #222222;
  padding: 30px 50px;
  margin-top: auto;
  color: #fff;
}
.footer-contact {
  width: 100%;
  height: 150px;
  display: flex;
}
.contact-name {
  width: 60%;
  height: 100%;
  padding: 10px;
}
.contact-name h2 {
  font-size: 32px;
  font-weight: bold;
}
