input,
select {
  display: block;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 20px;
  border: 2px solid #ccc;
  border-radius: 8px;
  outline: none;
}
input:focus {
  border-color: #20e3b4;
}
button {
  display: block;
  width: 200px;
  padding: 10px 30px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 8px;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: 0 6px 0 0 #ccc;
  transition: all 0.25s linear;
}
button:active {
  box-shadow: 0 3px 0 0 #ccc;
  transform: translateY(3px);
}
.overlay {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  inset: 0;
  z-index: 20;
}
