.cart-layout {
  width: 80%;
  margin: 100px auto;
  display: flex;
  column-gap: 100px;
  position: relative;
}
.cart-title {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 32px;
  font-weight: bold;
}
