.cart-layout {
  width: 90%;
  margin: 150px auto;
  display: flex;
  column-gap: 50px;
  position: relative;
}
.cart-title {
  position: absolute;
  top: -80px;
  left: 505;
  font-size: 32px;
  font-weight: bold;
}
