.header {
  width: 100%;
  height: 100px;
  background-color: #fff;
  padding: 20px 50px 20px 150px;
  margin-bottom: 50px;
  box-shadow: 0 0 5px 5px #ccc;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  user-select: none;
}
.header-logo {
  font-size: 28px;
  color: #e72727;
  margin-right: 250px;
  display: flex;
  column-gap: 10px;
}
.header-menu {
  padding: 10px 20px;
  color: #565656;
  display: flex;
  column-gap: 30px;
}
.header-menu-item {
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}
.header-auth {
  margin-left: auto;
  color: #565656;
  display: flex;
  column-gap: 30px;
}
.header-auth-item {
  display: inline-block;
  background-color: #5c636a;
  color: #fff;
  font-size: 24px;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 16px;
  cursor: pointer;
}
