.header {
  width: 80%;
  height: 100px;
  padding: 20px 50px;
  margin: 50px auto;
  box-shadow: 0 0 5px 5px #ccc;
  display: flex;
  align-items: center;
}
.logo {
  font-size: 30px;
  color: #e72727;
  margin-right: 200px;
}
.logo i {
  margin-right: 10px;
}
.menu {
  padding: 10px 20px;
  display: flex;
}
