.shoes-infor {
  width: 80%;
  padding: 10px;
  margin: 100px auto;
}
.shoes-infor-wrapper {
  display: flex;
  margin-bottom: 20px;
}
.shoes-infor-image {
  width: 40%;
  height: 500px;
  border-radius: 16px 0 0 16px;
}
.shoes-infor-image img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: inherit;
}
.shoes-infor-detail {
  width: 60%;
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.shoes-infor-detail h2 {
  font-size: 40px;
  font-weight: bold;
}
.shoes-infor-detail p {
  font-size: 20px;
}
.shoes-infor-box {
  padding: 10px;
  border: 1px solid #ccc;
  margin-top: 30px;
}
.shoes-infor-box h3 {
  font-size: 18px;
  margin-bottom: 20px;
}
.shoes-infor-box p {
  font-size: 16px;
  margin-bottom: 10px;
}
.shoes-infor-more p {
  font-size: 20px;
}
.shoes-infor-more i {
  color: rgb(241, 241, 47);
  margin-bottom: 20px;
}
.shoes-infor-comment {
  padding: 10px 20px;
}
