.form-popup {
  width: 500px;
  height: 500px;
  background-color: #fff;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;
}
.form-popup img {
  width: 50%;
  height: 200px;
  object-fit: fill;
  margin-bottom: 20px;
}
.form-popup h2 {
  position: absolute;
  top: 80px;
  right: 100px;
  font-size: 24px;
}
.form-popup span {
  position: absolute;
  top: 120px;
  right: 80px;
  font-size: 24px;
}
.form-popup-wrapper h3 {
  font-size: 20px;
  margin-bottom: 20px;
}
.form-popup-wrapper input {
  display: none;
}
.form-popup-wrapper label {
  text-align: center;
  padding: 5px 30px;
  background-color: #ccc;
  border: 1px solid #ccc;
}
.form-popup-wrapper input:checked + label {
  background-color: #20e3b4;
}
.size-choose {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
