.form-popup {
  width: 500px;
  height: 500px;
  background-color: #fff;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;
}
.form-popup img {
  width: 50%;
  height: 200px;
  object-fit: fill;
  margin-bottom: 20px;
}
.form-popup-wrapper h3 {
  font-size: 20px;
  margin-bottom: 20px;
}
.form-popup-wrapper label {
  padding: 5px 30px;
  background-color: #ccc;
  border: 1px solid #ccc;
}
.form-popup-wrapper input {
  display: none;
}
.form-popup-wrapper input:checked + .form-popup-wrapper label {
  background-color: #20e3b4;
}
