.order {
  width: 30%;
  height: 380px;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 8px;
  user-select: none;
}
.order-title {
  font-size: 32px;
  font-weight: 500;
  padding: 10px 0;
  border-bottom: 2px solid #ccc;
}
.order-infor {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  border-bottom: 2px solid #ccc;
  margin-bottom: 40px;
}
.order-infor div {
  display: flex;
  justify-content: space-between;
}
.order-button {
  width: 100%;
  background-color: #20e3b4;
  color: #fff;
}
