.admin-update-order {
  width: 85%;
  padding: 40px;
  user-select: none;
}
.admin-update-title {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
}
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.admin-update-table {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.admin-update-table th,
.admin-update-table td {
  text-align: center;
  vertical-align: middle;
  border: 1px solid #ccc;
}
.admin-update-table th:first-child,
.admin-update-table td:first-child {
  max-width: 200px;
}
.admin-update-table th {
  background-color: #20e3b4;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 20px;
}
.admin-update-table td {
  min-height: 150px;
  font-size: 18px;
  padding: 10px;
}
.admin-update-table input {
  width: 100%;
}
.admin-update-table td button {
  width: 100%;
  background-color: #dc3545;
  color: #fff;
}
.admin-update-table button {
  background-color: #20e3b4;
  color: #fff;
}
.admin-update-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.admin-update-wrapper #id {
  background-color: #f0f0f0;
  color: #666;
  cursor: not-allowed;
}
.admin-update-wrapper #id:focus {
  border-color: #ccc;
}
.admin-update-wrapper #customer-name {
  background-color: #f0f0f0;
  color: #666;
  cursor: not-allowed;
}
.admin-update-wrapper #customer-name:focus {
  border-color: #ccc;
}
.admin-update-wrapper:last-child {
  margin-top: 30px;
  flex-direction: row;
  column-gap: 40px;
}
.admin-update-wrapper button:first-child {
  background-color: #20e3b4;
  color: #fff;
}
