.banner {
  width: 100%;
  height: 500px;
  margin: 100px auto;
  position: relative;
  user-select: none;
}
.banner-background {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.banner-icon {
  color: #20e3b4;
  font-size: 56px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}
.banner-icon-left {
  left: -10%;
}
.banner-icon-right {
  right: -10%;
}
.banner-area {
  width: 60%;
  height: 80%;
  background-color: #fff;
  border-radius: 8px;
  position: absolute;
  top: 10%;
  left: 20%;
  display: flex;
}
.banner-wrapper {
  width: 50%;
  height: 100%;
}
.banner-title {
  display: block;
  font-size: 32px;
  font-weight: bold;
  color: #cb0c0c;
  border-radius: 8px;
  position: absolute;
  top: 0;
  left: 0;
}
.banner-name-item {
  display: inline-block;
  color: #ccc;
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  top: 20%;
  left: 5%;
}
.banner-button {
  width: 400px;
  background-color: #20e3b4;
  color: #fff;
  position: absolute;
  top: 80%;
  left: 5%;
}
.banner-image {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 8px;
}
