.admin-sidebar {
  width: 30%;
  height: 100vh;
  background-color: #333333;
  color: #fff;
  padding: 30px 0;
}
.admin-sidebar-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}
.admin-sidebar-menu li {
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
}
.admin-sidebar-menu li:hover {
  background-color: #888888;
}
.admin-sidebar-menu li:last-child {
  color: red;
}
