.admin-order {
  width: 85%;
  padding: 40px;
}
.admin-order-wrapper {
  width: 100%;
  height: 700px;
  padding: 20px;
  border-radius: 8px;
  overflow-y: scroll;
  box-shadow: 0 0 5px 5px #ccc;
}
.admin-order-wrapper::-webkit-scrollbar {
  display: none;
}
.admin-order-title {
  display: block;
  background-color: #ccc;
  font-size: 40px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 20px;
}
.admin-order-add {
  width: 200px;
  background-color: #20e3b4;
  color: #fff;
  margin-left: auto;
  margin-bottom: 30px;
}
.admin-order-table {
  width: 100%;
}
.admin-order-table th,
.admin-order-table td {
  text-align: center;
  vertical-align: middle;
  border: 1px solid #ccc;
  margin: 0 auto;
}
.admin-order-table th {
  background-color: #20e3b4;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 20px;
}
.admin-order-table td {
  height: 150px;
  font-size: 18px;
  padding: 20px;
}
.admin-order-list {
  margin-bottom: 20px;
}
.admin-order-list p:last-child {
  color: #ccc;
  margin-top: -20px;
}
.admin-order-table td div {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}
.admin-order-update {
  background-color: #20b3e4;
  color: #fff;
}
.admin-order-delete {
  background-color: #dc3545;
  color: #fff;
}
