.cart-list {
  width: 80%;
}
.cart-list-title {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 30px;
}
.cart-list-header {
  background-color: #20e3b4;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 20px;
}
.cart-list-header span:first-child {
  margin-right: 565px;
}
.cart-list-header span:nth-child(2) {
  margin-right: 90px;
}
.cart-list-item {
  max-height: 377px;
  overflow-y: scroll;
}
.cart-list-item::-webkit-scrollbar {
  display: none;
}
