.cart-list {
  width: 70%;
}
.cart-list-title {
  font-size: 32px;
  font-weight: bold;
}
.cart-list-header {
  padding: 10px 30px;
  border-bottom: 2px solid #ccc;
  font-size: 20px;
}
.cart-list-header span:first-child {
  margin-right: 350px;
}
