.cart-list {
  width: 80%;
  height: 480px;
  overflow-y: scroll;
}
.cart-list::-webkit-scrollbar {
  display: none;
}
.cart-list-title {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 30px;
  position: fixed;
}
.cart-list-header {
  padding: 10px 30px;
  border-bottom: 2px solid #ccc;
  font-size: 20px;
  position: fixed;
  top: 20px;
  left:;
}
.cart-list-header span:first-child {
  margin-right: 565px;
}
.cart-list-header span:nth-child(2) {
  margin-right: 90px;
}
