.shoes-card {
  width: 350px;
  height: 550px;
  padding: 5px;
  border: 2px solid #ccc;
}
.shoes-card-wrapper {
  width: 100%;
  height: 350px;
  margin-bottom: 10px;
}
.shoes-card-image {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.shoes-card-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
.shoes-card-box {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.shoes-card-box span {
  font-size: 18px;
  font-weight: bold;
  color: #b4afaf;
}
.shoes-card-box i {
  color: #f1f117;
}
.shoes-card-option {
  margin-top: auto;
  display: flex;
  column-gap: 20px;
}
.shoes-card-option button {
  background-color: #20e3b4;
  color: #fff;
  padding: 10px 10px;
  width: 200px;
  font-size: 16px;
}
